.content {
    text-align: center;
}

.uulia.jpg {
    width: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

body {
background-image:url("black.jpg");
background-repeat:no-repeat;
background-size:cover;
font-family:"Dancing Script",cursive;
padding:50px;
color:white;
}

h1 {
font-size:3em;
}

p {
font-size:1.5em;
max-width:600px;
margin:20px auto;
line-height:1.6;
}

h1:hover {
letter-spacing:2px;
transition:0.3s;
color:#6366f1;
}

img {
border-radius:15px;
box-shadow: 0 4px 15px #00000020;
}